.sideMenu-container {
    padding: 5px 10px;
    height: 100%;

}

// .button {
//     background: blue;

// }

.movieList {
    // border: 2px solid gray;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    //box-sizing: border-box;
}